<!-- <div id="stackMenu" data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow"> -->
  <div  id="stackMenu" data-scroll-to-active="true" class="main-menu menu-fixed menu-dark  menu-accordion menu-shadow menu-border">
    <div class="main-menu-content">
        <!-- <ul class="navigation navigation-main bg-primary" id="main-menu-navigation" data-menu="menu-navigation"> -->
      <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a [routerLink]="['/']">
            <img src="https://www.pinclipart.com/picdir/middle/38-389246_overview-clipart-document-review-dashboard-icon-white-png.png" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/employer']">
            <img src="https://image.shutterstock.com/image-vector/manager-icon-vector-illustration-style-260nw-568461499.jpg" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">Employer</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/business']">
            <img src="https://icon-library.net/images/business-png-icon/business-png-icon-13.jpg" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">Business</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/downloads']">
            <img src="http://cdn.onlinewebfonts.com/svg/img_395480.png" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">Downloads</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/customer-support']">
            <img src="https://cdn4.iconfinder.com/data/icons/bussines-people/289/man-contact-512.png" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">Customer Support</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/terms-and-conditions']">
            <img src="https://image.flaticon.com/icons/png/512/1698/1698490.png" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">Terms and Conditions</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/privacy-policy']">
            <img src="../../assets/image/privacy.png" >&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">Privacy Policy</span>
          </a>
        </li>
        <!-- <li class="nav-item" routerLinkActive="active">
          <a [routerLink]="['/about-us']">
            <img src="../../../assets/images/About-us.png" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="menu-title">About Us</span>
          </a>
        </li> -->
      </ul>
    </div>
  </div>