<!-- <router-outlet name="navbar"></router-outlet>
<router-outlet name="top-header"></router-outlet> -->
<app-top-header></app-top-header>
<app-navbar></app-navbar>
<div class="app-content content">
	<router-outlet></router-outlet>
	<router-outlet name="popup"></router-outlet>
</div>
<app-footer></app-footer>
